@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@600;700&display=swap');
@import 'react-calendar/dist/Calendar.css';

@layer base {
  body {
    @apply bg-secondary text-text;
  }
}
